In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('./dataset/NationalNames.csv')
df = df.drop_duplicates(subset="Name")
df.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [6]:
# Apply some methods to it
# Check the gender and return numeric value
def checkGender(gender):
    if gender == 'F':
        return 0
    return 1

In [7]:
# Check if the name ends in vowel
def checkVowelEnd(name):
    if name[-1] in "aeiou":
        return 0
    return 1

In [8]:
# Check if name starts in vowel and ends with consonant
def checkVowelStartConsonantEnd(name):
    if name[0] in "AEIOU" and not name[-1] in "aeiou":
        return 0
    return 1

In [9]:
# Check if name starts with a vowel 
def checkVowelStart(name):
    if name[0] in "AEIOU":
        return 0
    return 1

In [10]:
# Check length of name
def checkNameLength(name):
    return len(name)

In [11]:
# check if name is short or long
def checkShortLongName(name):
    if len(name) < 5:
        return 0
    return 1

In [12]:
df["GenderValue"] = df["Gender"].apply(checkGender)
df["VowelEnd"] = df["Name"].apply(checkVowelEnd)
df["VowelStart"] = df["Name"].apply(checkVowelStart)
df["NameLength"] = df["Name"].apply(checkNameLength)
df["Short/Long"] = df["Name"].apply(checkShortLongName)
df["ConsonantEnd/VowelStart"] = df["Name"].apply(checkVowelStartConsonantEnd)
df.head()

,Id,Name,Year,Gender,Count,GenderValue,VowelEnd,VowelStart,NameLength,Short/Long,ConsonantEnd/VowelStart
0,1,Mary,1880,F,7065,0,1,1,4,0,1
1,2,Anna,1880,F,2604,0,0,0,4,0,1
2,3,Emma,1880,F,2003,0,0,0,4,0,1
3,4,Elizabeth,1880,F,1939,0,1,0,9,1,0
4,5,Minnie,1880,F,1746,0,0,1,6,1,1

In [13]:
training_data = df[["GenderValue", "VowelStart", "VowelEnd", "NameLength", "Short/Long", "ConsonantEnd/VowelStart"]]
training_data.head()

,GenderValue,VowelStart,VowelEnd,NameLength,Short/Long,ConsonantEnd/VowelStart
0,0,1,1,4,0,1
1,0,0,0,4,0,1
2,0,0,0,4,0,1
3,0,0,1,9,1,0
4,0,1,0,6,1,1

In [14]:
train, test = train_test_split(training_data, test_size = 0.15)

In [15]:
clf = DecisionTreeClassifier(max_leaf_nodes=21)
clf = clf.fit(train[["VowelStart", "VowelEnd", "NameLength", "Short/Long", "ConsonantEnd/VowelStart"]], train["GenderValue"])

In [17]:
predictions = clf.predict(test[["VowelStart", "VowelEnd", "NameLength", "Short/Long", "ConsonantEnd/VowelStart"]])
print(accuracy_score(test["GenderValue"], predictions))

0.73473445044